body {
  background-color: rgb(240,231,222);
}


/*Nav Bar*/
.navbar {
     padding-left: -10em;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbaritem {
  float: left;
}

.navbaritem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbaritem a:hover {
  background-color: black;
}

.navbar input {
    padding: 0.5em;
    margin-top: 0.45em;
    margin-right: 1em;
    /*border-radius:  1em;*/
}

.navbar input[type=text] {
  width: 80px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  padding: 0.2em 0.2em 0.2em 0em;
  transition: width 0.4s ease-in-out;
}

.navbar input[type=text]:focus {
  width: 25%;
  border:  3px solid lightskyblue;
}
