<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block head %}
<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/main.css">

  <script type="text/javascript">
    function prettyDate(timestamp) {
      function pad(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
      }
      if (timestamp < 2000000000) // If it's less than 2Billion, it's seconds and
        timestamp *= 1000;      // needs to be converted to milliseconds
      let time = new Date(timestamp);
      let hours = time.getHours();
      let am = true;
      if (hours >= 13) {
        am = false;
        hours -= 12;
      }
      if (hours == 0) hours = 12;
      let minutes = time.getMinutes();
      return hours + ":" + pad(minutes, 2) + " " + (am ? "AM" : "PM");
    }
  </script>






  {{ block }}


</head>

<body>
  <br><br>
  {% block body %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
