{% extends "base.jinja" %}

{% block title %}TODO Page{% endblock %}

{% block body %}
<h3>To Do: (sorted by priority)</h3>
<ul>
  <li>Make a list of what stats we want on stats page</li>
  <li>Proper data aggregation for stats page</li>
  <li>apply markup function to beta chat list</li>
  <li>Boostrap navbar</li>
  <li>Properly handle odd amount of monospace markup thingies</li>
  <li>Add Date banners between messages sent before and after midnight</li>
</ul>

<h3>Done:</h3>
<ul>
  <li>Move beta chats list to main</li>
  <li>Show message timestamp on beta page</li>
  <li>Allow for whatsapp markup syntax</li>
  <li>Properly set up dev environment (proper git setup, hiding credentials, etc)</li>
  <li>Make <a href="/chats">the chats page</a> look nice</li>
  <li>Fixed Emoji rendering</li>
  <li>Make the timestamp show actual time</li>
  <li>Fix messages displaying after the scroll limit of the bottom of the page</li>
  <li>Set a minimum width to the length of a "message bubble"</li>
  <li>Newline characters get stripped while rendering jinja templates</li>
</ul>
{% endblock %}
